.app.dark{
    background-color: #111111;
    color: rgb(253, 253, 253);

    .navbarContainer{
        background-color: #111111;
        color: rgb(253, 253, 253);
        border-bottom: 0.5px solid rgb(156,156,156);;

        .logo{
            color:  rgb(253, 253, 253);
        }
        .navbarLink{
            color: rgb(253, 253, 253);
        }
        .searchInput{
            color: #000000;
        }
    }
    
    .sidebar{
        background-color: #111111;
        color: rgb(253, 253, 253);

        .sidebarButton{
            background-color: rgb(156,156,156);;
            color: #000000;
        }
    }

    .menuLink:hover{
        background-color: rgba(98,97,97,0.3);
    }

    .sidebarFriendName{
        color: rgb(253, 253, 253);
    }

    .feed{
        background-color: #111111;
        color: rgb(253, 253, 253);

        .shareInput{
            color: rgb(253, 253, 253);
        }

        
    }
    .share{
        .shareWrapper{
            .shareTop{
                .shareInput{
                    color: rgb(253, 253, 253);
                }
            }
        }
      }
  
    
    .commentBox{
        display: flex;
        .commentInput{
            color: rgb(253, 253, 253);
            border: 1px solid rgb(156,156,156);
        }
        .commentPost{
            background-color: rgb(156,156,156);
            color: #000000;
        }
    }
   .comment{
    .commentWrapper{
        border-top: 1px dashed rgb(156,156,156);

        .commentProfileImg{
            border: 2px solid rgb(156,156,156);
        }

        .commentInfo{
            .commentText{
                background-color: rgb(156,156,156);
                color: #000000;
            }
        }
    }
   }

    .rightbar{
        background-color: #111111;

        .rightbarUsername{
            color: rgb(253, 253, 253);
        }
    }

    .editButton{
        background-color: rgb(156,156,156);
        color: #000000;
    }

    .editProfile{
        .bottom{
            .right{
                form{
                    input{
                        color: rgb(253, 253, 253);
                    }
                    .updateButton{
                        background-color: rgb(156,156,156);
                        color: #000000;
                    }
                }
            }
        }
    }
}